:root {
  --light: white;
  --dark: black;
  --accent: deepskyblue;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  font-family: 'Montserrat';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.write-interface {
  position: relative;
  display: block;
  height: 100vh;
  width: 50%;
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  float: left;
  clear: none;
}
.read-interface {
  position: relative;
  display: block;
  height: 100vh;
  width: 50%;
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
  clear: none;
  float:right;
}

.subheading {
  font-size: 35px;
  font-weight: 200;
  padding: 20px;
}

.area {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.write {
  border-radius: 15px;
  padding: 10px;
  height: 400px;
  font-size: 16px;
  width: 80%;
  &:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 50px var(--accent);
    box-shadow: 0 0 50px var(--accent);
  }
}

.header-container {
  background: var(--accent);
  margin: 0;
  display: block;
  padding: 40px;
  text-align: center;
  .title {
    color: var(--light);
    font-size: 45px;
    font-weight: bold;
  }
  .subtitle {
    font-size: 30px;
    font-style: italic;
  }
}

.function-container {
  background-color: var(--accent);
  position: fixed;
  bottom: 10px;
  border-radius: 0 25px 25px 0;
  padding: 15px;
  button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--light);
    color: var(--light);
    background-color: transparent;
    margin: 0 25px;
    &:hover {
      background-color: var(--light);
      color: var(--accent);
      cursor: pointer;
    }
    &:disabled {
      opacity: 0.5;
      &:hover {
        color: var(--light);
        background-color: transparent;
        cursor:default;
      }
    }
  }
}


.deck-stack {
  padding: 0;
  li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 10px 30px;
  }
  .card {
    border: 3px solid var(--accent);
    border-width: 3px 0;
    text-align: left;
    margin: 10px 0;
    .term {
      font-weight: bold;
      display: inline-block;
    }
  }
}
